.top-bottom-layout {
  &.ant-layout {
    min-height: 100vh;
  }
  & > .ant-layout-header {
    background: #f0f2f5;
    border: 1px solid #f3f5f9;
  }
  & > .ant-layout-content {
    padding: 0 50px;
    border: 1px solid #f3f5f9;
  }
  & > .ant-layout-footer {
    border: 1px solid #f3f5f9;
    padding: 24px 50px;
  }
}
