/* keyframes factory */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

/* HOW TO USE IT? */
/* .element {
  //  declare keyframes name
  @include keyframes(slide-down) {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }

    //  call it
    name, duration, timing function run how many times, delay
    @include animation('slide-down 5s ease 3 3s'); 
  }
}
 */
