$borderRadius4: 0.4rem;
$borderRadius6: 0.6rem;
$borderRadius8: 0.8rem;
$borderRadius10: 1rem;
$borderRadius12: 1.2rem;
$borderRadius14: 1.4rem;
$borderRadius16: 1.6rem;
$borderRadius18: 1.8rem;
$borderRadius20: 2rem;
$borderRadius22: 2.2rem;
$borderRadius24: 2.4rem;
$borderRadius26: 2.6rem;
$borderRadius28: 2.8rem;
$borderRadius30: 3rem;
$borderRadius32: 3.2rem;
$borderRadius34: 3.4rem;
$borderRadius36: 3.6rem;
$borderRadius38: 3.8rem;
$borderRadius40: 4rem;
$borderRadius42: 4.2rem;
$borderRadius44: 4.4rem;
$borderRadius46: 4.6rem;
$borderRadius48: 4.8rem;
$borderRadius50: 5rem;
