$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

// ant breakpoint
/*
  xs: 0 -> 575
  sm: 576 -> 767
  md: 768 -> 991
  lg: 992 -> 1199
  xl: 1200 -> 1599
  xxl: 1600 -> ...
*/

@mixin from576_ {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin from768_ {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin from992_ {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin from1200_ {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin from1600_ {
  @media (min-width: #{$xxl}) {
    @content;
  }
}
