$spacing4: 0.4rem;
$spacing6: 0.6rem;
$spacing8: 0.8rem;
$spacing10: 1rem;
$spacing12: 1.2rem;
$spacing14: 1.4rem;
$spacing16: 1.6rem;
$spacing18: 1.8rem;
$spacing20: 2rem;
$spacing22: 2.2rem;
$spacing24: 2.4rem;
$spacing26: 2.6rem;
$spacing28: 2.8rem;
$spacing30: 3rem;
$spacing32: 3.2rem;
$spacing34: 3.4rem;
$spacing36: 3.6rem;
$spacing38: 3.8rem;
$spacing40: 4rem;
$spacing42: 4.2rem;
$spacing44: 4.4rem;
$spacing46: 4.6rem;
$spacing48: 4.8rem;
$spacing50: 5rem;
